<html>
<head>
  <title>Character Creation</title>
</head>
<body>
  <h1>Character Creation</h1>
  <ul>
    <li><input class='ability-box' value=10></input></li>
    <li><input class='ability-box' value=10></input></li>
    <li><input class='ability-box' value=10></input></li>
    <li><input class='ability-box' value=10></input></li>
    <li><input class='ability-box' value=10></input></li>
    <li><input class='ability-box' value=10></input></li>
  </ul>
  <p>Points Spent: <span class="total-points">0</span></p>
</body>
</html>
