<html>
<head>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="scripts.js"></script>
  <title>Character Creation</title>
</head>
<body>
  <h1>Character Creation</h1>
  <form><ul>
    <li><input class='ability-box' value=10></input></li>
    <li><input class='ability-box' value=10></input></li>
    <li><input class='ability-box' value=10></input></li>
    <li><input class='ability-box' value=10></input></li>
    <li><input class='ability-box' value=10></input></li>
    <li><input class='ability-box' value=10></input></li>
  </ul></form>
  <p>Points Spent: <span class="total-points">0</span></p>
</body>
</html>
